<h1>
Wardawgz dogs N sliders page ready for editing!! ...  20MAR18 and then Today 5APR18
</h1>


<ul>
  <li> <a routerLink=""> Menu</a></li>
  <li> <a routerLink=""> Locations</a></li>
  <li> <a routerLink=""> Order</a></li>
  <li> <a routerLink=""> Employment</a></li>
</ul>

<body>
  <body background="C:\Users\MATT\WORKSPACE\wardawgz\Project pics of burger\burger1.PNG">
</body>




<app-employment></app-employment>
<app-locations></app-locations>
<app-menu></app-menu>
<app-order></app-order>

<!-- <router-outlet></router-outlet> -->