
<div class="container color-dark">
  <div class="col">
    
  </div>
  <div class="col">
    <p> Employment  app ({{itemCount}}) </p>
  </div>
</div>
<div class="container color-light">
    <div class="col">
    <p class="sm"> This is the Employment app </p>
<form> 
   <!-- <input type="text" class="txt"  name="app" placeholder="Employment item" [(ngmodule)]="goalText"> -->
   <br> <span> {{ goalText}} </span> 
  <input type="submit" class="btn" [value] = "btnText" > 
  

</form>
  </div>
  <div class="col">
    <p class="life-container">
   </p>
    
  </div>
</div>